@import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@400;600;700&display=swap');

body {
    background-color: #0F1110;
    font-family: 'Gothic A1', sans-serif;
    font-family: 'Graduate', serif;
}

.text-hover {
    position: relative;
    display: inline-block;
    transition: transform 0.2s ease-in-out;
}

.text-hover::before {
    content: '';
    position: absolute;
    width: 0%;
    height: 2px;
    width: 0;
    bottom: -1vw;
    left: 0;
    background-color: #8C57F2;
    transition: width 0.2s ease-in-out;
}

.text-hover:hover::before {
    width: 50%;
}

.text-hover:hover {
    transform: translateY(0);
}

.custom-headline span,
.text-custome {
    color: #8C57F2;
}

.custom-font {
    color: white;
}

.custom-font::placeholder {
    color: rgb(206, 206, 206);
}

.bg-custom {
    background-color: #6D30E2;
}