<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project NLP - Kelompok 12</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link rel="shortcut icon" href="{{  url_for('static', filename='assets/kel.svg') }}" type="image/x-icon">
</head>

<body class="px-40">
    <div class="flex items-center justify-center h-screen w-full text-white">
        <div class="z-2  w-2/4 h-screen flex items-center justify-center bg-hover">
            <a href="/ngram" class="text-4xl text-hover py-2"><span class="text-custome">N-Gram </span> Algorithm</a
                href="" class="">
        </div>
        <div class="z-2  w-2/4 h-screen items-center justify-center bg-hover flex">
            <a href="/markov" class="text-4xl text-hover py-2"><span class="text-custome">Markov </span> Algorithm</a
                href="" class="">
        </div>
    </div>
    <a href="/" class="fixed right-6 top-4">
        <img src="{{  url_for('static', filename='assets/kel.svg') }}" alt="" class="w-16">
    </a>

</body>

</html>